{% extends "base.html.twig" %}

{% block title %}
    Mitglieder
{% endblock title %}

{% block main_content %}

    {% include 'navbar.html.twig' with {
        tab : 'members'
    }%}

{#    <script type="module" src="js/newMember.js"></script>#}

    <div class="container-md member-div">

        <h2 class="pb-5 text-decoration-underline">Mitglied:</h2>

        {% dump(member) %}
            <p>Name: {{ member.firstName }} {{ member.lastName }}</p>
            <p>Mitgliedsnummer: {{ member.id }} </p>
            <p>Adresse: {{ member.street }} {{ member.houseNumber }}, {{ location[0].zip }} {{ location[0].locus }} </p>
            <p>E-Mail: {{ member.email }} </p>
            <p>Telefon: {{ member.phone }} </p>
            <p>Geburtstag: {{ member.birthday|date("d.m.Y") }} </p>
            <p>Mitglied seit: {{ member.createdAt|date("d.m.Y") }} </p>

        <h3 class="py-5 text-decoration-underline">Anwesenheiten</h3>
    </div>

{% endblock %}